.cardPokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemonTitle{    
    text-transform: capitalize;
}
.abilities{
    display: grid;
    grid-template-columns: 1fr;    
    list-style: none;
}
.cardPokemon img{
    max-width: 100%;
    height: 150px;
}